{% extends 'base.html' %}

{% block title %}
    <title>Edit User</title>
{% endblock %}

{% block body %}
<form action="/update/{{ user['_id'] }} method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{ user['name'] }}"><br><br>
    <label for="age">Age:</label>
    <input type="text" id="age" name="age" value="{{ user['age'] }}"><br><br>
    <label for="location">Location:</label>
    <button class="btn btn-success" >Update</button> 
    
</form>
{% endblock %}
